.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  font-size: 70px; 
  margin-bottom: 0px;
}

.buttons {
  margin-bottom: 15px; 
  margin-top: 15px;
}

/* .thunk {
  font-size: 20px; 
  background-color: rgb(21, 255, 0); 
  border: none; 
  border-radius: 7px; 
  width: 100px;
  height: 30px; 
  font-weight: 500; 
  margin-right: 10px;
  
} */

/* .thunk:hover {
  background-color: rgb(156, 255, 147);
} */

.clear {
  font-size: 20px; 
  background-color: rgb(255, 0, 0); 
  border: none; 
  border-radius: 7px; 
  width: 100px;
  height: 30px; 
  font-weight: 500; 
  margin-right: 10px;
}

.clear:hover {
  background-color: rgb(253, 129, 129);
} 

.next {
  font-size: 20px; 
  background-color: rgb(0, 196, 0); 
  border: none; 
  border-radius: 7px; 
  width: 100px;
  height: 30px; 
  font-weight: 500; 
  margin-right: 10px;
}

.next:hover {
  background-color: rgb(115, 255, 105);
} 

.back {
  font-size: 20px; 
  background-color: blue; 
  border: none; 
  border-radius: 7px; 
  width: 100px;
  height: 30px; 
  font-weight: 500; 
  margin-right: 10px;
} 

.back:hover {
  background-color: rgb(100, 80, 249);
} 

.inputnum {
  border-radius: 5px; 
} 

